<div class="form-group">
    <label>City*</label>
    <multiple-select my-enter name="city" ng-model="formData.city" ng-name="formData.city1" api="searchPopulatedCity"
         ng-create="citySave"></multiple-select>
    <div class="error-msg" ng-show="demoForm.city.$invalid">Please Enter city</div>
</div>
<!--ng-selected="populateAddress()" -->
<div class="form-group">
    <label>Address</label>
    <textarea class="form-control" ng-model="formData.address"></textarea>
</div>
<div class="form-group">
    <label>Postal Code*</label>{{name.country}}
    <input type="text" class="form-control" ng-model="formData.pincode" ng-keyup="getLatLng(formData.pincode);">
    <!--+' ,'+name.country-->
</div>
<div class="form-group">
    <label for="">Latitude</label>
    <input type="text" name="lat" ng-model="formData.lat" class="form-control">
</div>
<div class="form-group">
    <label for="">Longitude</label>
    <input type="text" name="lng" ng-model="formData.lng" class="form-control">
</div>
<div class="form-group">
    <div ng-if="formData.lat && formData.lng" map-lazy-load="https://maps.google.com/maps/api/js?key=AIzaSyC62zlixVsjaq4zDaL4cefNCubjCgxkte4">
        <ng-map scrollwheel=false zoom="17" center="[{{formData.lat}},{{formData.lng}}]">
            <marker on-dragend="change();" position="[{{formData.lat}},{{formData.lng}}]" draggable="true"></marker>
        </ng-map>
    </div>
</div>
<!--<div>{{formData.country}},</div> ng-show="formData.country && formData.zone && formData.state && formData.district && formData.city && formData.pincode && formData.address"-->
<div class="form-group" ng-show="formData.city && formData.pincode">
    <label>Final Address</label>
    <!--<div>
       <div ng-show="formData.address"> {{formData.address }},<br></div>
        {{formData.city1}} {{formData.pincode}},<br>
        {{name.district}}, {{name.state}}, {{name.country}}
    </div>-->
     <div>
       <div ng-show="formData.address"> {{formData.address}},<br></div>
        {{formData.city1}},<br>
        {{formData.formatted_address}}
        <!--{{name.district}}, {{name.state}}, {{name.country}}-->
    </div>
</div>