<form name="lorForm">
    <div class="heading-sec">
        <div class="row">
            <div class="col-md-12 column">
                <div class="heading-profile">
                    <h2>LOR</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Top Bar Chart -->
    <div class="panel-content">
        <div class="row">
            <div class="col-md-12">
                <div class="widget">
                    <div class="form-elements-sec">
                        <div class="widget-title">
                            <h3>LOR</h3>
                        </div>
                        <div class="sec">
                            <uib-accordion>
                                <div uib-accordion-group class="panel-default custom-panel" ng-repeat="l in lorData">
                                    <uib-accordion-heading>
                                        {{l.name}}
                                    </uib-accordion-heading>
                                    <div class="line-holder" ng-repeat="v in l.values">
                                        <div class="form-builder">
                                            <div class="form-repeater">
                                                <div>
                                                    <div class="form-builder-item no-pad row-item">
                                                        <div class="col-item">
                                                            <p>
                                                                <span class="pull-right"><toggle-switch ng-model="item.submit" class="switch-small switch-success m5"></toggle-switch></span>
                                                            </p>
                                                        </div>
                                                        <div class="col-item">
                                                            <p>{{v}}</p>
                                                        </div>
                                                        <div class="col-item">
                                                            <select class="form-control" ng-model="item.field"><option value="{{item}}" ng-repeat="item in item.dropdownValues">{{item}}</option></select>
                                                        </div>
                                                        <div class="col-item" style="flex:0.5;">
                                                            <input type="date" date-model placeholder="Enter submitted date" class="form-control" ng-model="item.date">
                                                        </div>
                                                        <div class="col-item" style="flex:2;">
                                                            <div class="btn-group">
                                                                <button type="button" class="btn btn-default btn-wave" ng-class="{'btn-primary': item.submit=='Pending'}" ng-click="item.submit='Pending'">Pending</button>
                                                                <button type="button" class="btn btn-default btn-wave" ng-class="{'btn-primary': item.submit=='Partially Recieved'}" ng-click="item.submit='Partially Recieved'">Partial</button>
                                                                <button type="button" class="btn btn-default btn-wave" ng-class="{'btn-primary': item.submit=='Recieved'}" ng-click="item.submit='Recieved'">Recieved</button>
                                                                <button type="button" class="btn btn-default btn-wave" ng-class="{'btn-primary': item.submit=='Waived'}" ng-click="item.submit='Waived'">Waived</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </uib-accordion>
                            <div class="text-center mt20 odd-even-button">
                                <button class="btn btn-default" type="submit" ng-click="saveLOR(formData)" ng-disabled="lorForm.$invalid">Save</button>
                                <a class="btn btn-default" ng-click="cancel()">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>