<!-- <div id="progressBar">
	<div class="loader"></div>
</div> -->
<div class="breadcrumbs">
    <ul>
        <li>
            <a title="Home">Absolute</a>
        </li>
        <li>
            <a title="Approvals">Approvals</a>
        </li>
    </ul>
</div>

<div class="heading-sec">
    <div class="row">
        <div class="col-md-4 column">
            <div class="heading-profile">
                <h2>Assignment Approvals</h2>
            </div>
        </div>
    </div>
</div>
<!-- Top Bar Chart -->
<div class="panel-content">
    <div class="row">
        <div class="col-md-12">
            <div class="widget">
                <div class="table-area">
                    <div class="widget-title">
                        <div class="pull-right">
                            <form class="search-form mr-form">
                                <input type="text" ng-change="showAll(true)" placeholder="Search Here..." ng-model="search.keyword" />
                                <button type="submit">
                                  <i class="fa fa-search"></i>
                              </button>
                            </form>
                        </div>
                        <h3>List of Approvals <span class="tableTotal">(Total : {{totalItems}}) </span></h3>
                    </div>
                    <div class="table-responsive">
                        <table class="table approval-table">
                            <thead>
                                <tr>
                                    <th>Time</th>
                                    <th>Assignment</th>
                                    <th>Request</th>
                                    <th>TimelineStatus</th>
                                    <th>Owner</th>
                                    <th>SentBy</th>
                                    <th>Reason</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="data in modelList track by $index">
                                <tr ng-class="getDelayClass(data.newTime)">
                                    <td>{{data.newTime|getHours}} hrs</td>
                                    <td>{{data.name}}</td>
                                    <td>{{data.newStatus}}</td>
                                    <td>{{data.timelineStatus}}</td>
                                    <td>{{data.owner.name}}</td>
                                    <td>{{data.sentBy.name}}</td>
                                    <td>{{data.reason}}</td>
                                    <td ng-if="data.assignmentapprovalStatus!='Request AccessButton'">
                                        <button class="btn btn-primary" uib-tooltip="Edit" ng-if="template.currentRole.view.val" ui-sref="editassignment({id:data._id})"><i class="fa fa-pencil"></i></button>
                                        <button class="btn btn-success" uib-tooltip="Accept" ng-if="template.currentRole.view.val" ng-click="acceptForceClosed(data)"><i class="fa fa-check"></i></button>
                                        <button class="btn btn-danger" uib-tooltip="Reject" ng-if="template.currentRole.view.val" ng-click="rejectAssignmentApproval(data)"><i class="fa fa-remove"></i></button>
                                    </td>
                                    <td ng-if="data.assignmentapprovalStatus=='Request AccessButton'">
                                        <a class="btn btn-success" ui-sref="timeline({id:data._id})">
                                            Timeline
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tableData" ng-show="totalItems == 0 || totalItems == undefined ">
                        <h5>No data found</h5>
                    </div>
                    <ul ng-if="totalItems" ng-change="changePage(currentPage);" uib-pagination total-items="totalItems" items-per-page="maxRow"
                        ng-model="currentPage" max-size="template.pageMax" class="pagination-sm" boundary-links="true" force-ellipses="true"></ul>
                </div>
            </div>
        </div>
    </div>
</div>