<!-- <div id="progressBar">
	<div class="loader"></div>
</div> -->
<div class="breadcrumbs">
    <ul>
        <li>
            <a title="Home">Absolute</a>
        </li>
        <li>
            <a title="Approvals">Approvals</a>
        </li>
    </ul>
</div>

<div class="heading-sec">
    <div class="row">
        <div class="col-md-4 column">
            <div class="heading-profile">
                <h2>Invoice Approvals</h2>
            </div>
        </div>
    </div>
</div>
<!-- Top Bar Chart -->
<div class="panel-content">
    <div class="row">
        <div class="col-md-12">
            <div class="widget">
                <div class="table-area">
                    <div class="widget-title">
                        <div class="pull-right">
                            <form class="search-form mr-form">
                                <input type="text" ng-change="showAll(true)" placeholder="Search INVOICE #" ng-model="search.keyword" />
                                <button type="submit">
                                  <i class="fa fa-search"></i>
                              </button>
                            </form>
                            <!--<span uib-dropdown>
                                <button uib-dropdown-toggle id="sortby" class="btn btn-primary">Sort by <span class="caret"></span></button>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="sortby">
                                <li role="menuitem"><a ng-click="">Time</a></li>
                                <li role="menuitem"><a ng-click="">Date</a></li>
                            </ul>
                            </span>-->

                        </div>
                        <h3>List of Approvals <span class="tableTotal">(Total : {{totalItems}}) </span></h3>
                    </div>
                    <div class="table-responsive">
                        <table class="table approval-table">
                            <thead>
                                <tr>
                                    <th>Time</th>
                                    <th>Invoice #</th>
                                    <th>Sent By</th>
                                    <th>Owner</th>
                                    <th>Sent To</th>
                                    <!--Billed To-->
                                    <!--<th>Insurer</th>-->
                                    <!--//RemoveInsurer-->
                                    <th>Insured</th>
                                    <th> Gross Assessed Loss</th>
                                    <th>Invoice Amt</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="data in invoiceList track by $index">
                                <tr ng-class="getDelayClass(data.reqtimestamp)">
                                    {{data.assignment}}
                                    <td>{{data.reqtimestamp|getHours}} hrs</td>
                                    <td>{{data.invoiceNumber}}</td>
                                    <td>{{data.sentFrom.name}}</td>
                                    <td>{{data.assignment.owner.name}}</td>
                                    <td>{{data.sentTo}}</td>
                                    <!--<td>{{data.insurer.name}}</td>                                    -->
                                    <td>{{data.insured}}</td>
                                    <td style="text-align: right;">{{data.grossAssessedLoss | number}}</td>
                                    <td style="text-align: right;">{{data.grandTotal | number}}</td>
                                    <td>
                                        <button class="btn btn-primary" uib-tooltip="Open" ng-if="template.currentRole.view.val" ng-click="viewInvoice(data._id,data.assignment)">Open</button>
                                        <!--<button class="btn btn-success" uib-tooltip="Accept" ng-click="acceptInvoice(data,data.assignment)"><i class="fa fa-check"></i></button>
                                        <button class="btn btn-primary" uib-tooltip="Revise/Comment" ng-click="reviseInvoice(data,data.assignment)"><i class="fa fa-reply"></i></button>-->
                                        <!--<button class="btn btn-danger" uib-tooltip="Reject"><i class="fa fa-times"></i></button>-->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <ul ng-if="totalItems" ng-change="changePage(currentPage);" uib-pagination total-items="totalItems" items-per-page="maxRow"
                        ng-model="currentPage" max-size="template.pageMax" class="pagination-sm" boundary-links="true" force-ellipses="true"></ul>
                </div>
            </div>
        </div>
    </div>
</div>