<div class="breadcrumbs">
    <ul>
        <li>
            <a title="Home">LOR Category</a>
        </li>
        <li>
            <a ui-sref="knowledgebase-list">LOR Category</a>
        </li>
    </ul>
</div>
<form name="policyTypeForm" ng-submit="saveLorCategory(formData)">
    <div class="panel-content">
        <div class="row">
            <div class="col-md-12">
                <div class="widget">
                    <div class="form-elements-sec">
                        <div class="widget-title">
                            <h3>Category Details</h3>
                        </div>
                        <div class="sec">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Category name*</label>
                                        <input type="text" name="name" ng-model="formData.name" class="form-control" required>
                                        <div class="error-msg" ng-show="policyTypeForm.name.$invalid && policyTypeForm.name.$touched">Please Enter Document Name</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="text-center mt20 odd-even-button">
            <button class="btn btn-default" type="submit" ng-disabled="policyTypeForm.$invalid">Save</button>
            <a class="btn btn-default" ng-click="cancel()">Cancel</a>
        </div>
    </div>
</form>