<!--three photo view-->
<a fancybox-box rel="gallery1" style="opacity:1;" href="{{chat.attachment[0]|uploadpath}}">
    <div class="width100 timeline-photo-bg-color">
        <img ng-src="{{chat.attachment[0]|uploadpath:711:345}}" class="img-responsive"/>
    </div>
</a>
<a fancybox-box rel="gallery1" style="opacity:1;" href="{{chat.attachment[1]|uploadpath}}">
    <div class="width50 timeline-photo-bg-color">
        <img ng-src="{{chat.attachment[1]|uploadpath:355:287}}" class="img-responsive"/>
    </div>
</a>
<a fancybox-box rel="gallery1" style="opacity:1;" href="{{chat.attachment[2]|uploadpath}}">
    <div class="width50 timeline-photo-bg-color">
        <img ng-src="{{chat.attachment[2]|uploadpath:356:287}}" class="img-responsive"/>
    </div>
</a>
<!--end of three photo view-->