<form name="modalForm1" ng-submit="addElements(modalData);$dismiss()" ng-if="holdObject=='Expense'" class=" min-hit">
    <div class="modal-header blue-bg">
        <div class="pull-right">
            <a class="btn btn-clear" ng-click="$dismiss()">
                <i class="ln-cross"></i>
            </a>
        </div>
        <h5 class="modal-title">Upload {{holdObject}}</h5>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Date*</label>
                    <div class="input-group">
                        <input type="text" name="expenseDate" class="form-control" uib-datepicker-popup="{{format}}" ng-model="modalData.expenseDate" 
                            is-open="popup.expenseDate" datepicker-options="dateOptions" required readonly />
                        <div class="error-msg" ng-show="modalForm1.expenseDate.$invalid && modalForm1.expenseDate.$touched">Please Enter Date</div>
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-default" ng-click="popup.expenseDate = true">
                              <i class="fa fa-calendar"></i>
                          </button>
                      </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>From*</label>
                    <input type="text" class="form-control" name="expenseFrom" ng-model="modalData.expenseFrom" required>
                    <div class="error-msg" ng-show="modalForm1.expenseFrom.$invalid && modalForm1.expenseFrom.$touched">Please Enter From Place</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>To*</label>
                    <input type="text" class="form-control" name="expenseTo" ng-model="modalData.expenseTo" required>
                    <div class="error-msg" ng-show="modalForm1.expenseTo.$invalid && modalForm1.expenseTo.$touched">Please Enter To Place</div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Purpose*</label>
                    <input type="text" class="form-control" name="expensePurpose" ng-model="modalData.expensePurpose" required>
                    <div class="error-msg" ng-show="modalForm1.expensePurpose.$invalid && modalForm1.expensePurpose.$touched">Please Enter Purpose</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Mode*</label>
                    <input type="text" class="form-control" name="expenseMode" ng-model="modalData.expenseMode" required>
                    <div class="error-msg" ng-show="modalForm1.expenseMode.$invalid && modalForm1.expenseMode.$touched">Please Enter Mode</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Distance*</label>
                    <input type="number" class="form-control" name="expenseDistance" ng-model="modalData.expenseDistance" required>
                    <div class="error-msg" ng-show="modalForm1.expenseDistance.$invalid && modalForm1.expenseDistance.$touched">Please Enter Distance</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Rate*</label>
                    <input type="number" class="form-control" name="expenseRate" ng-model="modalData.expenseRate" required>
                    <div class="error-msg" ng-show="modalForm1.expenseRate.$invalid && modalForm1.expenseRate.$touched">Please Enter Rate</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Amount*</label>
                    <input type="number" class="form-control" name="expenseAmount" ng-model="modalData.expenseAmount" required>
                    <div class="error-msg" ng-show="modalForm1.expenseAmount.$invalid && modalForm1.expenseAmount.$touched">Please Enter Amount</div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button class="btn btn-primary" type="submit" ng-disabled="modalForm1.$invalid">Save</button>
        </div>
    </div>
</form>
