<div class="modal-header green-bg with-button">
    <div class="pull-right">
        <button class="btn btn-clear" ng-click="refreshTimeline();$dismiss();">
            <i class="ln-cross"></i>
        </button>
    </div>
    <h5 class="modal-title">All JIR</h5>
</div>
<div class="modal-body">
    <form name="companyForm" ng-submit="saveCompany(formData)">
        <div class="form-group">
            <!--<label>Upload Photos</label>-->
            <!--<upload-image ng-model="photo.file" ng-callback="onPhotoUploadCallback(photo)" no-view></upload-image>-->
            <!--<upload-image-new ng-model="img" ng-if="assignment.dateOfLoss && assignment.timelineStatus !== 'Force Closed'" ng-callback="onJirUploadCallback(img,length)"
                multiple no-view></upload-image-new>-->
            <upload-files ng-model="img" ng-if="assignment.dateOfLoss && assignment.timelineStatus !== 'Force Closed'" ng-callback="onJirUploadCallback(img,length)" type="'jir'" photos="assignment.jir" assignmentid="assignment._id" timeline="timeline" employee="employee"></upload-files>
        </div>
    </form>
</div>