<div class="modal-header green-bg">
  <div class="pull-right">
    <button class="btn btn-darker btn-round btn-nopad"  ng-if="assignment.dateOfLoss && assignment.timelineStatus !== 'Force Closed'" ng-click="viewTemplates('ISRs','TemplateIsr','')">Create new</button>
    <button class="btn btn-clear" ng-click="$dismiss()">
      <i class="ln-cross"></i>
    </button>
  </div>
  <h5 class="modal-title">View ISRs</h5>
</div>
<div class="modal-body">
  <table class="file-list table" ng-if="assignment.templateIsr != ''">
    <thead>
      <tr>
        <th>#</th>
        <th>ISR Template</th>
        <th>Template Name</th>
        <th>Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="isr in assignment.templateIsr track by $index">
        <td>{{$index + 1}}</td>
        <td>{{isr.name}}</td>
        <td>{{isr.templateName}}</td>
        <td>{{isr.timestamp|date:'dd-MM-yyyy'}}</td>
        <td>
          <button class="btn btn-clear" ng-click="viewTemplates('ISRs','TemplateIsr',isr)"><i class="ln-pencil"></i></button>
          <button class="btn btn-clear" ng-click="deleteTemplate('templateIsr', $index,'ISR')"><i class="ln-trash2"></i></button>
          <!--<button class="btn btn-clear"><i class="ln-download"></i></button>-->
        </td>
      </tr>
    </tbody>
  </table>
</div>