<form name="formName" ng-submit="addElements(modalData);$dismiss()" class="min-hit">
    <div class="modal-header blue-bg with-button">
        <div class="pull-right">
            <button class="btn btn-clear" ng-click="$dismiss()">
                <i class="ln-cross"></i>
            </button>
        </div>
        <h5 class="modal-title">Surveyor feedback process</h5>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 b-top-m">
                <div class="form-group">
                    <label>Prepring JIR with proper detail also each & every field has to be marked.?*</label>
                    <br>
              <toggle-switch on-label="Yes" off-label="No" ng-model="formName.ILA" class="switch-mini switch-success"></toggle-switch>
                    <!-- <div class="error-msg" ng-show="formName.category.$invalid && formName.category.$touched">Please Select ILA issued</div> -->
                </div>
            </div>
            <div class="col-md-12 b-top-m">
                <div class="form-group">
                    <label>Sufficient Photographs with porper loss identification?*</label>
                    <br>
                  <toggle-switch on-label="Yes" off-label="No" ng-model="formName.broker" class="switch-mini switch-success"></toggle-switch>
                    <!-- <div class="error-msg" ng-show="formName.category.$invalid && formName.category.$touched">Please Select LOR issued</div> -->
                </div>
            </div>
            <div class="col-md-12 b-top-m">
                <div class="form-group">
                    <label>Loss Minimisation?*</label>
                    <br>
                    <toggle-switch on-label="Yes" off-label="No" ng-model="formName.insured" class="switch-mini switch-success"></toggle-switch>
                    <!-- <div class="error-msg" ng-show="formName.category.$invalid && formName.category.$touched">Please Select LOR issued</div> -->
                </div>
            </div>
            <div class="col-md-12 b-top-m">
                <div class="form-group">
                    <label>Uploading of JIR, document & photos and courier the document properly on time?*</label>
                    <br>
                  <toggle-switch on-label="Yes" off-label="No" ng-model="formName.insurer" class="switch-mini switch-success"></toggle-switch>
                    <!-- <div class="error-msg" ng-show="formName.category.$invalid && formName.category.$touched">Please Select LOR issued</div> -->
                </div>
            </div>
            <div class="col-md-12 b-top-m">
                <div class="form-group">
                    <label>Speaking with the owner from site and prompt revert about the survey status?*</label>
                    <br>
                  <toggle-switch on-label="Yes" off-label="No" ng-model="formName.insurer" class="switch-mini switch-success"></toggle-switch>
                    <!-- <div class="error-msg" ng-show="formName.category.$invalid && formName.category.$touched">Please Select LOR issued</div> -->
                </div>
            </div>

        </div>
        <div class="text-center">
            <button class="btn btn-primary" type="submit" ng-disabled="modalForm1.$invalid">Save</button>
        </div>
    </div>
</form>
