<html>

<head>
    <style>
        body {
            padding: 5%;
            font-family: sans-serif;
            font-size: 12px;
        }
        
        .address {
            display: inline-block;
        }
        
        .logo {
            display: inline-block;
            float: right;
            padding-top: 20px;
        }
        
        .logo img {
            width: 200px;
        }
        
        .title {
            text-align: center;
            font-size: 14px;
            font-weight: bold;
            padding: 10px 0 20px 0;
        }
        
        .addr {
            display: inline-block;
        }
        
        .addr span {
            font-weight: bold;
        }
        
        .invoice-detail {
            display: inline-block;
            float: right;
        }
        
        .invoice-detail table {
            font-size: 12px;
        }
        
        .invoice-detail tr td:first-child {
            padding-right: 60px;
        }
        
        .invoice-data {
            margin-top: 25px;
            margin-bottom: 20px;
        }
        
        .invoice-data table {
            width: 100%;
            border-collapse: collapse;
            font-size: 12px;
        }
        
        .invoice-data td {
            width: 25%;
            padding: 3px;
            vertical-align: top;
        }
        
        .invoice-data tr td:nth-child(1) {
            font-style: italic;
        }
        
        .invoice-data tr td:nth-child(3) {
            font-style: italic;
        }
        
        .invoice-table table {
            width: 100%;
            /*border: 1px solid #000;*/
            border-collapse: collapse;
            font-size: 12px;
        }
        
        .invoice-table td,
        th {
            border: 1px solid #000;
            padding: 5px;
        }
        
        .invoice-table tr td:nth-child(1) {
            text-align: center;
        }
        
        .invoice-table tr td:nth-child(3) {
            text-align: right;
        }
        
        .invoice-table tr td:nth-child(4) {
            text-align: center;
        }
        
        .invoice-table tr td:nth-child(5) {
            text-align: right;
        }
        
        .invoice-table tr td:nth-child(6) {
            text-align: right;
        }
        
        .align-right {
            text-align: right !important;
        }
        
        .rem-border {
            border: none !important;
        }
        
        .in-words {
            padding: 20px 0;
            font-weight: bold;
        }
        
        .pan-details {
            display: inline-block;
        }
        
        .signature {
            display: inline-block;
            float: right;
            text-align: right;
        }
        
        .signature p {
            margin-bottom: 70px;
        }
    </style>
</head>

</html>

<body>
    <div class="emailer">
        <div class="header">
            <div class="address">
                <p>
                    33,Swastik Chambers, <br> Nr Navjivan Press, Income-tax, <br> Ahmedabad , Gujrat. <br> Phone # : 91 79
                    27540816 <br> FAX # : 91 79 27540715 <br> accounts@absolutesurveyors.co.in
                </p>
            </div>
            <div class="logo">
                <img src="absolute.png" alt="">
            </div>
        </div>
        <div class="title">
            <span>INVOICE</span>
        </div>
        <div class="sub-header">
            <div class="addr">
                <span>TAG BO Hyderabad</span>
                <p>Tata AIG General insurance Co Ltd Branch<br> Office 4th Floor,A block, My Home Tycoon,<br> Kundanbabh, begumpet,
                    Hyderabad - 500 016,<br> Andhra Pradesh, India
                </p>
            </div>
            <div class="invoice-detail">
                <table>
                    <tr>
                        <td>Invoice No</td>
                        <td> 1106-1606-0632</td>
                    </tr>
                    <tr>
                        <td>Invoice Date</td>
                        <td>18/06/2016</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="invoice-data">
            <table>
                <tr>
                    <td>Appointed By</td>
                    <td> TAG BO Kolkata</td>
                    <td>COL</td>
                    <td>Theft</td>
                </tr>
                <tr>
                    <td>Insurer</td>
                    <td>TAG BBO Hyderabad</td>
                    <td>NOL</td>
                    <td>Stolen</td>
                </tr>
                <tr>
                    <td>Insured</td>
                    <td>AmaraRaja Batteries Limited / Bhubaneshwar</td>
                    <td>Classification</td>
                    <td>Goods vehicles</td>
                </tr>
                <tr>
                    <td>Policy Type</td>
                    <td> Marine Cargo Open Policy</td>
                    <td>Product</td>
                    <td>Refuse / Garbage Collection</td>
                </tr>
                <tr>
                    <td>Policy Number</td>
                    <td>0830008842</td>
                    <td>Item</td>
                    <td>Bike Batteries</td>
                </tr>
                <tr>
                    <td>Insurer Claim no</td>
                    <td>000934094</td>
                    <td>Invoice # & Date</td>
                    <td>1625101085 & 28/05/2016 , 1625101072 & 28/05/2016 , 1625101080 & 28/05/2016</td>
                </tr>
                <tr>
                    <td>Insured Claim No</td>
                    <td></td>
                    <td>LR# & Date</td>
                    <td>36256 & 30/05/2016</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Vehicle</td>
                    <td>OR02X3994</td>
                </tr>
            </table>
        </div>
        <div class="invoice-table">
            <table>
                <tr>
                    <th>Sr #</th>
                    <th>Description</th>
                    <th>Quantity</th>
                    <th>Unit</th>
                    <th>Rate</th>
                    <th>Amount</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Survey Fees fot visit on 11/06/2016</td>
                    <td>1.00</td>
                    <td>Per</td>
                    <td>3000.00</td>
                    <td>3000</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Local Conveyance</td>
                    <td>1.00</td>
                    <td>Visit</td>
                    <td>500.00</td>
                    <td>500</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Photographs</td>
                    <td>12.00</td>
                    <td>Copy</td>
                    <td>10.00</td>
                    <td>120</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Misc expenses like telephone, email, photocopy, courier, etc</td>
                    <td>1.00</td>
                    <td>Per</td>
                    <td>250.00</td>
                    <td>250</td>
                </tr>
                <tr>
                    <td colspan="5" class="align-right rem-border">Sub Total</td>
                    <td class="align-right">3870.00</td>
                </tr>
                <tr>
                    <td colspan="5" class="align-right rem-border">Service Tax @ 14.00 %</td>
                    <td class="align-right">541.80</td>
                </tr>
                <tr>
                    <td colspan="5" class="align-right rem-border">Swachh Bharat ces @ 0.50%</td>
                    <td class="align-right">19.35</td>
                </tr>
                <tr>
                    <td colspan="5" class="align-right rem-border">Krishi Kalyan Cess @ 0.50 %</td>
                    <td class="align-right">19.5</td>
                </tr>
                <tr>
                    <td colspan="5" class="align-right rem-border">Rounding Off</td>
                    <td class="align-right">-0.50</td>
                </tr>
                <tr>
                    <td colspan="5" class="align-right rem-border">Grand Total</td>
                    <td class="align-right">4,450.00</td>
                </tr>
            </table>
        </div>
        <div class="in-words">INR Four Thousand Four Hundred Fifty Only</div>
        <div class="footer">
            <div class="pan-details">
                <p>
                    E. and O.E. <br> Subjected to Ahmedabad Jurisdiction <br> Service tax no : AAGCA3986LST001 <br> (Insurance
                    Auxiliary Sevice)<br> PAN No : AAGCA3986<br> CIN : U93000GJ2007PTC051168<br>
                </p>
            </div>
            <div class="signature">
                <p>For, Absolute Insurance Surveyors & loss Assessors Pvt Ltd</p>
                <span>Authorized Signatory</span>
            </div>
        </div>
    </div>
</body>